Lessons from 1 - 9/script/explain01.js
Lessons from 10 - 17/script/explain02.js
Lessons from 18 - 22/script/explain03.js
Lessons from 23 - 26/script/explain04.js
Lessons from 27 - 30/script/explain05.js
Lessons from 31 - 32/script/explain06.js
Lessons from 33 - 37/script/explain07.js
Lessons from 38 - 39/script/explain08.js
Lessons from 40 - 47/script/explain09.js
Lessons from 48 - 53/script/explain10.js
Lessons from 54 - 56/script/explain11.js
Lessons from 57 - 63/script/explain12.js
Lessons from 64 - 70/script/explain13.js
Lessons from 71 - 78/script/explain14.js
Lessons from 79 - 85/script/explain15.js
Lessons from 86 - 93/script/explain16.js
Lessons from 94 - 101/script/explain17.js
Lessons from 102 - 110/script/explain18.js
Lessons from 134 - 146/script/explain22.js
Lessons from 159 - 168/script/explain24.js